<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    
    <title>Administrar Clientes</title>
</head>
<body>
    <nav> 
        <div>
            <div>
                <img id="btn-open" src="img/hamburger_icon.png" alt="">
            </div>
            <header>
                <a href="index.html">
                    <img src="img/logo.png" alt="Img logo">
                </a>
            </header>
            <ul>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-user"></i>
                        <h2>Mi cuenta</h2>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-bell"></i>
                        <h2>Notificaciones <span id="pedidos"></span></h2>
                    </a>
                </li>
                <li>
                    <a onclick="logout()" href="#">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <h2>Cerrar Sesión</h2>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-circle-question"></i>
                        <h2>Ayuda</h2>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="pull-down" id="pull-down">
        <ul>
            <li>
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    <h2>Mi cuenta</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-bell"></i>
                    <h2>Notificaciones</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de usuarios</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de productos</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de categorias</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de empresa</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de asesorias</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de intercambios</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Administrador de compras</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <h2>Reportes</h2>
                </a>
            </li>
            <li>
                <a onclick="logout()" href="#">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <h2>Cerrar Sesión</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-circle-question"></i>
                    <h2>Ayuda</h2>
                </a>
            </li>
        </ul>
    </div>
    <div id="content-all" class="content-all">
        <div class="main-left">
            <a href="/listarUsuario">
                <div>
                    <img src="img/settings_icon.png" alt="">
                </div>
                <p>Administrador de usuarios</p>
            </a>
            <a href="/listarProducto">
                <div>
                    <img src="img/settings_icon.png" alt="">
                </div>
                <p>Administrador de productos</p>
            </a>
            <a href="/listarCategoria">
                <div>
                    <img src="img/settings_icon.png" alt="">
                </div>
                <p>Administrador de categorias</p>
            </a>
            <a href="/listarEmpresa">
                <div>
                    <img src="img/settings_icon.png" alt="">
                </div>
                <p>Administrador de empresa</p>
            </a>
            <a href="/p">
                <div>
                    <img src="img/settings_icon.png" alt="">
                </div>
                <p>pedidos</p>
            </a>
            <a href="/r">
                <div>
                    <img src="img/settings_icon.png" alt="">
                </div>
                <p>Reportes</p>
            </a>
        </div>
        <div class="conainer my-1 mx-1">
                <button type="button" onclick="Abrir_Modal()" class="bottomA btn btn-primary m-3">Nuevo</button>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"  style="overflow-x: scroll;">
                    <table id="tabla_content"  class= "table display nowrap mt-2 table-bordered table-striped " style="width: 100%;">
                        <thead>
                            <tr class="text-center">
                            <th>Nº</th>
                            <th>Identificacion</th>
                            <th>Nombre</th>
                            <th>Fecha Navcimiento</th>
                            <th>Estado</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>Rol<th>
                            </tr>
                        </thead>
            
                        <tbody id="tabla"></tbody>
                    </table>
                </div>
                <div class="modal fade" id="MyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registrar usuario</h5>
                        <button id="salir" type="button" class="btn-close" style="display: block;" data-bs-dismiss="modal" aria-label="Close" ></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <p><b>Todos los campos son obligatorios</b></p>
                                <div class="mb-3">
                                <input type="hidden" class="form-control" id="id">
                                </div>
                                <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Identificacion</label>
                                <input type="number" class="form-control" id="identificacion">
                                </div>
                                <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre">
                                </div>
                                <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Fecha Nacimiento</label>
                                <input type="date" class="form-control" id="fechaNacimiento">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Estado</label>
                                    <select class="form-select" name="estadoProducto" id="estado" required>
                                    <option selected disabled value="">Estado</option>
                                    <option>activo</option>
                                    <option>inactivo</option>
                                    </select>
                                </div>
                               
                                <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Contraseña</label>
                                <input type="password" class="form-control" id="contreseña">
                                </div>
                                <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Correo</label>
                                <input type="email" class="form-control" id="correo">
                                </div>
                                <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Telefono</label>
                                <input type="text" class="form-control" id="telefono">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Rol</label>
                                    <select class="form-select" name="rol" id="rol" required>
                                    <option selected disabled value="">Rol</option>
                                    <option>Administrador</option>
                                    <option>Asesor</option>
                                    <option>Propietario</option>
                                    <option>Cliente</option>
                                    </select>
                                </div>
                                <!--  <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="registrar_Asesoria()">Guardar</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="Actualizar_Asesoria()">Actualizar</button>
                                </div> -->
                            </form>
                        </div> 
                        <div class="modal-footer">
                        <button id="actualizar" type="button" class="btn btn-primary" style="display: block;" onclick="Actualizar_Usuario()">Actualizar</button>
    
                        <button id="close" type="button" class="btn btn-secondary" style="display: block;" data-bs-dismiss="modal">Close</button>
                        <button id="registrar" type="button" class="btn btn-primary " style="display: block;" onclick="registrar_Usuario()">Registrar</button>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>

    <!-- boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- DataTable -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>




    <script src="/js/sweetalert2.all.min.js"></script>
    <script src="/js/indexUsuario.js"></script>
    <script src="/js/scrip.js"></script>
</body> 

</html>



